.slider {
    max-height: 350px;
    margin-bottom: 100px;
}

.movie {
    position: relative;

    &__slide {
        width: 200px !important;
        margin: 0 auto;
        display: block;
        border-radius: 20px;
    }

    &__title {
        text-align: center;
    }

    &__rating {
        position: absolute;
        top: 0;
        left: 2%;
        padding: 10px;
        font-size: 16px;
        background-color: rgba(0,0,0,.8);
    }
}

@media (max-width: 921px) {
    .container {
        padding: 0 10%;
    }
}

@media (max-width: 663px) {
    .container {
        padding: 0;
    }

    .movie {
        &__slide {
            width: 140px !important;
        }
    }
}